<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DeleteEditFilter</filter-name>
        <filter-class>Filters.DeleteEditFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteEditFilter</filter-name>
        <url-pattern>/delete.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DeleteEditFilter</filter-name>
        <url-pattern>/edit.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>regAsDoctorServ</servlet-name>
        <servlet-class>controller.regAsDoctorServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regAsEngServ</servlet-name>
        <servlet-class>controller.regAsEngServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regAsLawServ</servlet-name>
        <servlet-class>controller.regAsLawServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regAsTechServ</servlet-name>
        <servlet-class>controller.regAsTechServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServ</servlet-name>
        <servlet-class>controller.logServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>docSearch</servlet-name>
        <servlet-class>controller.docSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>engServ</servlet-name>
        <servlet-class>controller.engServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lawSearch</servlet-name>
        <servlet-class>controller.lawSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teachSearch</servlet-name>
        <servlet-class>controller.teachSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServ</servlet-name>
        <servlet-class>controller.editServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServ</servlet-name>
        <servlet-class>controller.deleteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail</servlet-name>
        <servlet-class>controller.sendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateDoc</servlet-name>
        <servlet-class>controller.rateDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateEng</servlet-name>
        <servlet-class>controller.rateEng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateLaw</servlet-name>
        <servlet-class>controller.rateLaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rateTeach</servlet-name>
        <servlet-class>controller.rateTeach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>controller.editServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regAsDoctorServ</servlet-name>
        <url-pattern>/regAsDoctorServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regAsEngServ</servlet-name>
        <url-pattern>/regAsEngServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regAsLawServ</servlet-name>
        <url-pattern>/regAsLawServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regAsTechServ</servlet-name>
        <url-pattern>/regAsTechServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServ</servlet-name>
        <url-pattern>/logServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>docSearch</servlet-name>
        <url-pattern>/docSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>engServ</servlet-name>
        <url-pattern>/engServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lawSearch</servlet-name>
        <url-pattern>/lawSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teachSearch</servlet-name>
        <url-pattern>/teachSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServ</servlet-name>
        <url-pattern>/editServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServ</servlet-name>
        <url-pattern>/deleteServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateDoc</servlet-name>
        <url-pattern>/rateDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateEng</servlet-name>
        <url-pattern>/rateEng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateLaw</servlet-name>
        <url-pattern>/rateLaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rateTeach</servlet-name>
        <url-pattern>/rateTeach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/editServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
