body
{
    background: url('../images/teamwork.jpg') no-repeat center center ;
    height: 100vh;
    background-size: cover;
    position: relative;
    text-transform: capitalize
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.brand
{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    left: 20px;
}


.register
{
    position: absolute;
    color: black;
    background: #fff;
    padding: 0 10px 0px 10px ;
    border-radius: 5px;
    left: calc(50% - 200px);
    width: 400px;
    margin-top: 110px
}

.register form input[type='password'],
.register form input[type="submit"],
.register form input[type="email"]
{
    display: block;
    padding: 8px 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 15px
}


.register form input[type='text'],
.register form input[type='number']
{
    float: left;
    width: 47.5%;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 10px;
}

.register form input[type ='text']:first-of-type{
    margin-right: 5%
}

.register form input[type='text']:nth-of-type(3){
    margin-right: 5%
}

.register form input[type='text']:nth-of-type(5){
    margin-right: 5%
}

.register form input::placeholder
{
    color: #999
}
.register form input[type="password"]
{
    margin-bottom: 10px
}
.register form input[type="submit"]
{
    background: #d9534f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;   
    padding: 4px;
    margin-top: 30px;
}
.register form input[type="submit"]:hover
{
    background:#d43f3a
}

.register .fa-pencil-alt
{
    width: 50px;
    border-radius: 50%;
    background: #fff;
    font-size: 31px;
    border: 1px solid;
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
    color: #d43f3a
}
.register h2
{
    margin-top: 3px;
    color: #d43f3a
}
.register form a{
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    color: #d43f3a;
    font-weight: bold;
    font-style: italic
}

.register button{
    border-radius: 5px;
    display: block;
    background: #4267B2;
    border: none;
    color: #fff;
    margin: 15px auto;
    
}

.register button i{
    font-size: 15px;
    border-right: 1px solid #fff;
    padding: 7px;
    padding-right: 10px
}

.register button span{
    font-size: 15px;
    font-weight: bold;
    padding-left: 4px;
}

.register .or{
    margin-bottom: 15px;
    font-size: 18px;
    color: #d9534f;
    font-weight: bold;
    font-style: italic

}
.register .or hr{
    width: 45.5%;
    display: inline-block;
    margin: 0;
    border: 0;
    border-top: 1px solid #d9534f;
    height: 5px;
}

.drop-downs .job-specialization {
    float: left;
    width: 48%;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 10px;
    font-size: inherit
}

.drop-downs .job-location {
    float: left;
    width: 48%;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 10px;
    font-size: inherit;
    margin-left: 4%
}

.upload-image{
    overflow: hidden;
    margin-bottom: 15px
}

.upload-image label{
    float: left;
    width: 45%;
    color: #666;
    margin-right: 5%
}

.upload-image input{
    float: left;
    width: 50%;
    cursor: pointer;
}